Repository MichaelrKraft/leadspot-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx --prefix frontend prettier --write --ignore-unknown
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: npm run lint --prefix frontend --
  language: system
  pass_filenames: false

fix(agent-service): resume drips after restart + eliminate double-send race
  agent-service/src/action-plans/index.ts
  agent-service/src/db/index.ts
  agent-service/src/server.ts
  agent-service/src/workflows/index.ts
Due: none

fix(auth): actually send the password-reset email
  backend/.env.example
  backend/app/config/settings.py
  backend/app/routers/auth.py
  backend/app/services/transactional_email.py
Due: none

fix(auth): make demo login issue a real session
  backend/app/config/settings.py
  backend/app/routers/auth.py
  frontend/app/(auth)/login/page.tsx
  frontend/lib/api.ts
  frontend/next.config.js
Due: prettier, eslint

fix(auth): validate the session in AuthGuard instead of trusting localStorage
  frontend/components/auth/AuthGuard.tsx
Due: prettier, eslint

fix(security): stop persisting the JWT to localStorage
  frontend/stores/useAuthStore.ts
Due: prettier, eslint

fix(security): verify OAuth state on Google and Microsoft callbacks
  backend/app/routers/auth.py
Due: none

chore(frontend): remove dead API surface and orphaned sidebar
  frontend/components/layout/Sidebar.tsx
  frontend/lib/api.ts
  frontend/lib/auth.ts
Due: prettier, eslint

fix(dashboard): send real org id to insights so live data replaces demo
  frontend/lib/api/dashboard.ts
Due: prettier, eslint

fix(voice): enforce balance on every call path (fail closed) + auth balance-check
  dashboard/src/app/api/billing/balance-check/route.ts
  dashboard/src/app/api/voice/webhook/route.ts
  voice-agent/src/agent.py
Due: none

docs: record hardening pass 2 fix status in AUDIT.md
  AUDIT.md
Due: none

fix(ops): make start.sh bring up backend+frontend correctly in one command
  start.sh
Due: none

feat(frontend): gate screens whose backing services aren't running
  frontend/app/(dashboard)/layout.tsx
  frontend/next.config.js
Due: prettier, eslint

feat(ops): one-command start for all 3 services + auto-open browser
  start.sh
  stop.sh
Due: none

feat(deals): add leasing pipeline with per-pipeline stages
  backend/alembic/versions/20260716_1600_cre_leasing_pipeline.py
  backend/app/models/deal.py
  backend/app/routers/deals.py
  frontend/app/(dashboard)/deals/page.tsx
  frontend/components/deals/DealCard.tsx
  frontend/components/deals/NewDealModal.tsx
  frontend/components/deals/PipelineKanban.tsx
  frontend/lib/api/deals.ts
  frontend/types/deals.ts
Due: prettier, eslint

feat(deals): AI deal-status inference with human-reviewed suggestion queue
  backend/alembic/versions/20260716_1700_email_messages_deal_suggestions.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/deal_suggestion.py
  backend/app/models/email_message.py
  backend/app/routers/deal_suggestions.py
  backend/app/services/inference/__init__.py
  backend/app/services/inference/deal_status_agent.py
  backend/tests/test_deal_status_agent.py
  frontend/app/(dashboard)/deals/page.tsx
  frontend/components/deals/SuggestionsDrawer.tsx
  frontend/lib/api/suggestions.ts
Due: prettier, eslint

feat(demo): Kane Company leasing-pipeline seed script
  backend/scripts/seed_kane_demo.py
Due: none

feat(sync): Outlook mail sync with refresh-on-expiry + deal inference
  backend/app/routers/oauth.py
  backend/app/services/oauth/microsoft.py
  backend/app/services/sync/__init__.py
  backend/app/services/sync/outlook_sync.py
  backend/tests/test_outlook_sync.py
Due: none

fix(deals): make '+ Add deal' clickable and unclip wide Kanban boards
  frontend/app/(dashboard)/deals/page.tsx
  frontend/app/(dashboard)/layout.tsx
  frontend/components/deals/NewDealModal.tsx
  frontend/components/deals/PipelineKanban.tsx
Due: prettier, eslint

fix(chat): give AI Command Center native LeadSpot CRM tools
  backend/app/routers/chat.py
  backend/app/services/leadspot_tools.py
Due: none

feat(chat): full CRM coverage for AI Command Center + seed contacts
  backend/app/routers/chat.py
  backend/app/services/leadspot_tools.py
  backend/scripts/seed_kane_demo.py
Due: none

chore(chat): bump SYNTHESIS_MODEL to claude-sonnet-5
  backend/.env.example
  backend/app/config/settings.py
Due: none

feat: live Analyze Email + white-label branding in dashboard
  backend/app/main.py
  backend/app/routers/deal_suggestions.py
  backend/app/routers/org.py
  backend/app/services/inference/manual_ingest.py
  backend/app/services/leadspot_tools.py
  backend/scripts/seed_kane_demo.py
  backend/tests/test_manual_ingest.py
  frontend/app/(dashboard)/layout.tsx
  frontend/components/deals/SuggestionsDrawer.tsx
  frontend/lib/api/suggestions.ts
Due: prettier, eslint

docs(tasks): CRE central-brain sprint plan + review notes
  tasks/todo.md
Due: none

fix(frontend): null-coalesce request body so production build type-checks
  frontend/app/space/[[...path]]/route.ts
Due: prettier, eslint

fix(frontend): declare undici dependency for space proxy route
  frontend/package-lock.json
  frontend/package.json
Due: prettier

fix(dpa): extract print button into client component
  frontend/app/(public)/dpa/PrintButton.tsx
  frontend/app/(public)/dpa/page.tsx
Due: prettier, eslint

feat(inbox): Unified Inbox — Gmail ingestion, AI triage, in-voice drafts
  CLAUDE.md
  backend/alembic/versions/20260717_1300_unified_inbox_phase_a.py
  backend/alembic/versions/20260717_1500_unified_inbox_phase_b.py
  backend/alembic/versions/20260717_1700_unified_inbox_phase_c.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/email_category.py
  backend/app/models/email_event.py
  backend/app/models/email_message.py
  backend/app/models/style_profile.py
  backend/app/routers/conversations.py
  backend/app/routers/oauth.py
  backend/app/services/connectors/gmail.py
  backend/app/services/inference/email_classifier.py
  backend/app/services/inference/llm_client.py
  backend/app/services/inference/reply_drafter.py
  backend/app/services/sync/gmail_inbox_sync.py
  backend/app/workers/inbox_poller.py
  backend/requirements.txt
  backend/tests/test_email_classifier.py
  backend/tests/test_gmail_inbox_sync.py
  backend/tests/test_reply_drafter.py
  frontend/app/(dashboard)/inbox/page.tsx
  frontend/components/inbox/ConversationList.tsx
  frontend/lib/api/conversations.ts
  frontend/types/inbox.ts
  tasks/todo.md
Due: prettier, eslint

feat(conv-ai): make the conversational AI platform fully functional
  CLAUDE.md
  agent-service/src/server.ts
  backend/alembic/versions/20260717_1900_chat_messages.py
  backend/app/models/__init__.py
  backend/app/models/chat_message.py
  backend/app/routers/chat.py
  backend/app/routers/conv_ai.py
  backend/requirements.txt
  backend/tests/test_conv_ai.py
  tasks/todo.md
Due: none

feat(landing): marketing landing page — 'Every CRM asks your team to work for it'
  landing/index.html
Due: none

fix(docker): name frontend Dockerfile stage 'production'
  frontend/Dockerfile
Due: none

chore: CI green sprint plan in tasks/todo.md
  tasks/todo.md
Due: none

fix(lint): frontend eslint clean — escape JSX entities, remove any types
  frontend/app/(auth)/forgot-password/page.tsx
  frontend/app/(dashboard)/dashboard/page.tsx
  frontend/app/(dashboard)/settings/api-keys/page.tsx
  frontend/app/(dashboard)/settings/integrations/page.tsx
  frontend/app/(dashboard)/settings/page.tsx
  frontend/app/book/[agentId]/page.tsx
  frontend/app/space/[[...path]]/route.ts
  frontend/components/auth/LoginForm.tsx
  frontend/components/search/SearchResults.tsx
  frontend/components/sources/GmailIntegrationCard.tsx
  frontend/components/timeline/DecisionTimeline.tsx
  frontend/lib/api/agent.ts
  frontend/lib/api/dashboard.ts
  frontend/lib/timeline-utils.ts
Due: prettier, eslint

fix(ci): use asyncpg driver scheme in test DATABASE_URL, 32-char JWT_SECRET
  .github/workflows/ci.yml
Due: none

test: remove test_gmail_integration.py — tests dead code that never shipped
  backend/tests/test_gmail_integration.py
Due: none

test(insights): add unit tests for EmailInsightsService
  backend/tests/test_email_insights_service.py
  tasks/todo.md
Due: none

docs: CI green sprint review in todo.md
  tasks/todo.md
Due: none

Path conditions:
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
